{% extends "base.html" %}
{% block title %}Lists{% endblock %}
{% block content %}
<h1>Crime&Mysteries Database</h1>

<p>Welcome User, to the CMDB. This is a service that can provide volunteer investigators resources to research and
	collect illegal activities amongst the multiverse. We strongly recommend being through with the investigative work
	and elaborate on each crime with as much detail as possible, so the appropriate authorities can take the appropriate
	action. Note that the morality of each crime is not one of our concerns.</p>

<p>Follow the developer at <a href="https://twitter.com/SuminomAmonimus">Twitter</a></p>
{% endblock %}