{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<h1>{{table_name}}</h1>
<table>
	<tr>
		{% for column in columns %}
		<th>{{ column.name }}</th>
		{% endfor %}
	</tr>
	{% for row in table %}
	<tr>
		{% for key, value in row.items() %}
		<td>
			{% if key in keys %}
			{% set fk_row = value|fk(table_name, key) %}
			{% if fk_row.name %}
			{{ fk_row.name }}
			{% else %}
			{{ fk_row }}
			{% endif %}
			{% else %}
			{{ value }}
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}