{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<h1>{{ table_name }}</h1>
<table>
    <tr>
        {% for column in columns %}
        <th>{{ column.name|replace("_id", "") }}</th>
        {% endfor %}
    </tr>
    {% for row in table %}
    <tr>
        {% for key, value in row.items() %}
        <td>
            {% set fk_row = value|fk(table_name, key) %}
            {% if fk_row.name %}
            <i>
                {{ fk_row.name }}
            </i>
            {% else %}
                {{ fk_row }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <form method="post">
            <input type="hidden" name="table" value="{{ table_name }}">
            <td>
                <button type="submit">Add</button>
            </td>
            {% for column in columns[1:] %}
            <td>
                {% set is_fk = column.name|is_fk(keys) %}
                {% if is_fk == True %}
                    {% set remote_values = column.name|get_fk_values(keys) %}
                    <select name="{{ column.name }}">
                    <option value="">-</option>
                    {% for value in remote_values %}
                        <option value="{{ value.id }}">{{ value.name }}</option>
                    {% endfor %}
                    </select>
                {% else %}
                    <input type="text" name="{{ column.name }}">
                {% endif %}
            </td>
            {% endfor %}
        </form>
    </tr>
</table>
{% endblock %}